html {
    box-sizing: border-box
}

  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
    background-color: rgb(236, 179, 179);
  /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 300px;
    background-color: white;
    font-size: 2rem;
    text-align: center;
}

#status {
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: darkgreen;
    padding: 10px 20px 0 0;
}

img {
    border-radius: 50%;
    border: green 4px solid;
}

h1, p {
    margin: 0;
}

h1 {
    font-size: 3.4rem;
    padding: 8px 0;
}

#occupation {
    background-color: lightgrey;
    padding: 16px 0;
}

#brand {
    display: none;
}

#offer {
    padding: 16px 0;
}

#contact {
    display: flex;
}

#contact > p {
    height: 65px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact > p:first-child {
    background-color: lightgreen;
}

#contact > p:last-child {
    background-color: rgb(135, 203, 165);
}

@media only screen and (min-width: 600px){
    main {
        display: grid;
        text-align: left;
        width: 550px;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "status name"
        "img occupation"
        "img brand"
        "contact offer";
    }

    #status {
        text-align: left;
        padding: 10px 0 0 20px;
    }
    img {
        grid-area: img;
        margin: 0 auto;
    }

    #name {
        text-align: left;
        padding: 10px 0 0 20px
    }

    #brand {
        display: inline;
    }
    
    #contact {
        grid-area: contact;
    }

    #brand > p {
        border-left: green 4px solid;
        padding: 0 20px 0 8px;
        font-size: 1.6rem;
    }

    #offer {
        font-size: 1.4rem
    }

    #name, #occupation, #brand, #offer {
        padding-left: 20px;
        background-color: lightgray;
    }
}
